*{
  margin:0;
  padding:0;
}

body, html{
   height:100%;
   font-family: cursive;
}



.banner{
  background:url("./img/mus.jpg");
  height:100%;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  width:80%;
  margin:auto;

}


.content{
  overflow: visible;
  position: relative;

}

.content:before {
  content:"";
  position: fixed;
  left:0;
right:0;
z-index:-1;
display: block;
background-image: url('./img/mus.jpg');
background-size: cover;
width: 100%;
height: 100vh;
filter:blur(8px);
}

header {
  width:100%;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(150,18,163,1) 12%, rgba(179,0,69,1) 100%, rgba(0,74,255,1) 100%);
 padding:15px;
 border-bottom:2px solid dodgerblue;
 border-radius:10px;
 box-shadow:2px 2px 7px #337;
}

#site_name{
  display: inline-block;
  margin-top:5px;
  font-size:1.6em;
  font-weight: bold;
  color:white;

}

nav{
  display: inline-block;
  float:right;

}

nav li{
  display: inline-block;
  list-style-type: none;
  padding: 0px 6px;
  margin-top:11px;
}

nav a{
  color:white;
  padding: 10px ;
  border-radius:7px;
  box-shadow: 2px 2px 5px #333;
}


nav a:hover{

  box-shadow: none;
  border:1px solid #ccc;
}

.active{
  border:1px solid #ccc;
  box-shadow: none;
}


.hov{
  width:40%;
  position:relative;
  top:5%;
  right:-49%;
  color:white;
  font-size: 1em;
  padding: 20px;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.4) 0%, rgba(150,18,163,0.6) 12%, rgba(179,0,69,0.6) 100%, rgba(0,74,255,0.6) 100%);
border-radius: 5%;
}


.drag{
  background: url("./img/dark.jpg") no-repeat;
  height:100%;
  background-position: center;
  color:white;
  background-size: cover;

}

.contact{
    padding: 30px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.6) 0%, rgba(238,185,244,0.6) 43%, rgba(179,0,91,0.6) 100%, rgba(0,74,255,0.7) 100%);
width:30%;
border-radius:15px;
border-right:2px solid pink;
border-bottom:2px solid pink;
position: relative;
top:20%;
left:60%;
box-shadow: 3px 3px 7px purple;
}

#contHead,#contDesc{
  color:white;
  padding: 5px;
}

#name,#email,#submit,textarea{
  width: 80%;
  border:none;

    margin:4%;
  border:1px solid rgba(252,70,107,1);
  border-radius:5px;
}

#name,#email,textarea{
  width: 80%;
}

#submit{
  padding: 15px;
  background-color:rgb(252,70,107,1) ;
  color:white;
  border:3px solid  rgb(252,70,107,1);

}

#submit:hover{
  background: linear-gradient(90deg, rgba(2,0,36,0.6) 0%, rgba(238,185,244,0.6) 43%, rgba(179,0,91,0.6) 100%, rgba(0,74,255,0.7) 100%);
color:white;
cursor:pointer;
}

#name:focus #email:focus{
  outline:none;
  border:none;
  border-bottom:3px solid rgba(252,70,107,1);
  border-right:3px solid rgba(252,70,107,1);
  border-radius:10px;
  box-shadow:2px 2px 4px #ccc;
}

.wrap{
  color:white;
  width:75%;
  max-height:550px;
  max-width: 500px;
  margin:20px auto;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.5) 0%, rgba(150,18,163,0.5) 12%, rgba(179,0,69,0.5) 100%, rgba(0,74,255,0.4) 100%);
  padding: 20px;
  box-shadow: 3px 3px 9px black;
}

.wrap img{
  width:100%;
  overflow: hidden;
}

.wrap h2{
  text-align: center;
  margin:10px;
}
.wrap p{
  font-size: 0.9em;
  margin:10px;
  height:100%;

}

@media screen and (max-width:930px){
  .contact{
    left:30%;
    width:40%;
  }
.container{
  width:100%;
}

header{
  height:100px;
  width:auto;

}

#site_name{
  width:100%;
  text-align: center;
}
nav{
  width:100%;
  text-align: center;
}

nav ul{
  padding: 0;
  margin:15px;
}
.hov{
  font-size: 15px;
  padding: 10px;
}

}



@media screen and (max-width:474px){
 .banner{
   background-position: left;

 }

 .drag{
   background-position: right;
 }

 .contact{
   font-size:12px;
   position:sticky;
   margin:auto;
   width:70%;
   left:0;
 }

 .hov{
   position: static;
   margin:auto;
   margin-top: 20px;
 }

 .wrap{
   height: 10%;
 }

}
